.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: #000;
}

img {
    max-width: 100%;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}
